doctype html
html(lang = "es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Administrar productos
        link(rel="stylesheet", href="admin_view.css")
    body
        header
            .logo
                img(src="logo.png.png", alt="Logo")
        main
            .container
                .products-section
                    h1 Todos los juegos 
                    ul 
                        each product in products 
                            li
                                | #{product.title} 
                                details(class="update-form")
                                    summary(class="update-summary")  Actualizar
                                    form(action=`/api/product/${product._id}?_method=PUT` method="POST")
                                        input(type="text" name="title" placeholder="Nuevo título" required)
                                        button(type="submit") Guardar cambios
                                                                
                                form(action=`/api/product/${product._id}?_method=DELETE` method="POST")
                                    button(type="submit") Borrar
            div.add-product-form
                h3 Agregar nuevo producto
                form(action="/api/product" method="POST")
                    input(type="text" name="title" placeholder="Título" required)
                    input(type="number" name="price" placeholder="Precio" required)
                    input(type="text" name="imageProduct" placeholder="URL de la imagen")
                    button(type="submit") Agregar producto
            div.orders 
                    h1 Todos los pedidos
                    ul 
                        each order in orders 
                            li
                                | #{order.quantity}
                                | #{order.address}

                                              





                                